---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Boden McHale
      </span>
    </h1>
    <p class="text-2xl pb-4">Cloud Engineer / Game Developer</p>
  </div>
  <div>
    <p class="mb-5">
      Hello there! I'm passionate about using my skills to create things that are both beautiful and useful.
      <br><br>
      On this site, you'll find a collection of my poetry, projects, and blog posts. I hope you enjoy exploring my work!
    </p>

    <p class="mb-5">
      If you have any questions or feedback, please feel free to contact me.
      <br>
      If you find any issues, please report them to the Github <a href="https://github.com/BodenMcHale/BodenMcHale.github.io/issues" target="_blank">repository</a>.
      <br><br>
      Thanks for visiting!
    </p>
  </div>
</section>
