<nav>
  <h1>Poetry</h1>
  <span>- Boden McHale</span>
  <small>
    <a id="home" class="logo-link" href="/index.html">Home</a> \
    <a id="articles" class="info-link" href="/articles.html">Poems</a> \
    <a id="about" class="info-link" href="/about.html">About</a>
  </small>
</nav>
